html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*.top-container{*/
    /*padding-top: 10%;*/
/*}*/

/*.general-container{*/
    /*background: url('img/bg_image.jpg');*/
    /*height: 100%;*/
/*}*/

/*.general-container form{*/
    /*margin-top: 30px;*/
/*}*/

/*.general-container form label{*/
    /*font-weight: 100;*/
    /*color: white;*/
/*}*/

/*.btn-orange{*/
    /*background-color: #e8643e;*/
    /*border: none;*/
/*}*/

/*.btn-orange:hover{*/
    /*background-color: #dc5129;*/
    /*border: none;*/
/*}*/

/*.title{*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-weight: 100;*/
    /*line-height: 50px;*/
/*}*/

  a
  {
    color: #00001E;
  }

#transparent_link_id
{
  color: rgba(40, 40, 40, 0.5);
  margin-bottom: 10px;
}


.right_class
{
  color: #504060;
  background-color:#00001E;
  border: 1px solid #323232; /*рамка*/
  border-radius: 40px;
  margin: 10px; /*Внешние отталкивания*/
  padding: 5px; /*Внутриние отталкивания*/
  text-decoration-color: #2FFFFF ;
}

.right_class:hover
{
  box-shadow: 30px 3px 3px #000000; /*Ox Oy oZ*/
  display: block;
  font-weight: 900;
  transform: scale(1);

}

.message_class
{
  color: #504060;
  background-color:#9A001E;
  border: 1px solid #323232; /*рамка*/
  border-radius: 40px;
  font-size: 20pt;
  margin: 10px; /*Внешние отталкивания*/
  padding: 15px; /*Внутриние отталкивания*/
  transition: 3s transform;
}
.message_class:hover
{
  color: #fffddd;
  border: 5px solid #9A001E; /*рамка*/
  font-size: 20pt;
  margin: 10px; /*Внешние отталкивания*/
  padding: 5px; /*Внутриние отталкивания*/
  opacity: 0.5; /*прозрачность контента при наведении*/
  transform: rotate(-180deg) scale(0.9);
  text-align: center;

}

#test_animation_id
{
  background-color: #fff;
  color-profile: #333;
  border: 3px solid #000;
  border-radius: 40px;
  padding: 5px;
  margin: 10px; /*Внешние отталкивания*/

}

#test_animation_id:hover
{
  height: 400px;
  text-align: center;
  transform: rotate(360deg);
  transition: 1s all; /* x2sec*/
}


