<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Feedback by django form, increase contact=)</title>
</head>
<body>
    <h1> Hello, here you have to insert 2 or more sets that will provide you with the result.</h1>
    {% if form.errors %}
        <p style="color: red;">Пожалуйста, исправьте ошибки.</p>
    {% endif %}

    <form action="" method="post">
        {% for field in form %}
            <p>
                <label>{{ field.label }}</label>

                {{ field }}

                {{ field.errors }}
            </p>
        {% endfor %}
        <input type="submit" value="Отправить">
         {% csrf_token %}
    </form>
    <br>
    <div>
        <a href="../contact"> Оставить свои данные</a>
    </div>
    <br>
    <br>
</body>
</html>